<%= form_for @todo do |f| %>
  <div class="field">
    <label class="label">Title</label>
    <div class="control">
      <%= f.text_field :title, class: "input" %>
    </div>
  </div>

  <div class="field">
    <label class="label">Description</label>
    <div class="control">
      <%= f.text_area :description, class: "textarea" %>
    </div>
  </div>

  <div class="field is-grouped">
    <div class="control">
      <%= f.submit 'Save', class: "button" %>
    </div>
    <div class="control">
      <%= link_to "Cancel", todos_path, class: "button is_text" %>
    </div>
  </div>
<% end %>
