<%= form_for @todo do |f| %>
  <%= hidden_field_tag 'category_id', @category.try(:id) %>

  <div class="field">
    <label class="label">Title</label>
    <div class="control">
      <%= f.text_field :title, class: "input" %>
    </div>
  </div>

  <div class="field">
    <label class="label">Description</label>
    <div class="control">
      <%= f.text_area :description, class: "textarea" %>
    </div>
  </div>

  <div class="field">
    <label class="label">Categories</label>
    <div class="select is-multiple is-medium">
      <%= 
        f.select(
          :category_ids, 
          Category.all.collect { |c| [c.name, c.id] }, 
          {}, 
          id: "todo_categories", 
          multiple: true
        ) 
      %>
    </div>
  </div>

  <div class="field is-grouped is-grouped-right">
    <div class="control">
      <%= 
        f.submit(
          'Save', 
          class: "button is-success"
        ) 
      %>
    </div>
    <div class="control">
      <%= 
        link_to(
          "Cancel", 
          todos_path, 
          class: "button is_text is-danger"
        ) 
      %>
    </div>
  </div>
<% end %>

<script type="text/javascript">
  $("#todo_categories").select2();
</script>
